body{
 background-color: gray
}

img{
    width: 300px;
    height: 300px;
    margin: 30px;
}
.haland{
    width: 300px;
    height: 300px;
    margin: 30px;
}
.cabecalho{
    background-color: gray;
}
.logo_cabecalho{
    width: 300px;
    margin-left: 750px;
    margin-top: 50px;
}
.lista_cabecalho{
    display: flex;
    margin-left: 520px;
}
.item_lista_cabecalho{
    font-size: 40px;
    list-style: none;
    padding-left:40px;
}  